<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>测试requirejs</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/test.css">
    <script data-main="/lib/main" src="/lib/require.js"></script>
</head>

<body>
    <div class="header">
        <span>SQL注入防御系统</span>
    </div>
    <nav></nav>
    <aside></aside>
    <article></article>
    <div id="box"></div>
    <div id="box1"></div>
    @@include('../tpl/footer.tpl')
    <script type="text/javascript">
    require(['jquery'], function() {
        require(['/assets/js/index.js'])
    })
    </script>
</body>

</html>
