.tree-menu {
    width: 400px;
    li {
        // height: 30px;
        // line-height: 30px;
        padding: 5px 0px;
        list-style: none;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}
